.matchPairList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: transparent;
  border: none;
}

.listItem {
  border: 1px solid #d0d0d0;
}

.listItem:first-child {
  border-top: 1px solid #d0d0d0;
}
