.app-wrapper {
    flex: 1;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.app-layout {
    --padding-bottom: 80px !important;
    flex: 1;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.app-header {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid var(--border-bk-color);
}

.app-content {
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

