VITE_APP_AUTH_URL=http://keycloak-dev:8082/
VITE_APP_AUTH_REALM=probe-app
VITE_APP_AUTH_CLIENTID=probe-app-client
VITE_APP_FOOTBALL_APIURL=http://localhost:19081/api/q/v1/

VITE_APP_TEST_AUTH_URL=http://keycloak-dev:8082/realms/probe-app/protocol/openid-connect/token
VITE_APP_TEST_USER=testuser01
VITE_APP_TEST_PASSWORD=Test-user123

